<root>
    <params name="widgetsarrow" label="" hidetitle="1">
        <param name="widgetarrow" type="subpluginmatrix" label="Arrow" group="nextendsliderwidgetarrow" method="arrow"
               file="config.xml" default=""/>
        <param type="mixed" label="Display" name="widgetarrowdisplay" default="0|*|always">
            <param type="onoff" label="Enabled"/>
            <param type="radio" label="Display">
                <option value="always">Always</option>
                <option value="hover">on_Hover</option>
            </param>
        </param>
    </params>
</root>